In [30]:
import requests
import pandas as pd
import numpy as np
from io import BytesIO

In [5]:
#нужно загрузить данные по ссылке с помощью библиотеки requests
your_link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(your_link)
data = req.content

df = pd.read_csv(BytesIO(data))

In [10]:
df.shape

(3, 3)

In [11]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [29]:
#посчитаем процент мужчин среди всех посетителей сайта, округлив значение до целого числа
round(117 / df.users.sum() * 100, 0)

41.0

In [72]:
#загрузим новые данные
df = pd.read_csv('C:/Users/bkunt/jupyter/karpov/data/7_browser.csv')

In [73]:
df.shape

(24, 4)

In [74]:
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [75]:
#создадим серию, в которой будет 1, если посещения были сделаны роботами с браузера Chrome, и 0 в других случаях
chrome_robots = pd.Series(np.where((df.user_type == 'Robots') & \
                                   (df.browser.str.contains('Chrome')), 1, 0))

In [76]:
#загрузим новые данные
df = pd.read_csv('C:/Users/bkunt/jupyter/karpov/data/7_sample_ads.csv')

In [77]:
df.shape

(18, 3)

In [78]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [82]:
#посчитаем количество строк без пропусков
df.click_type.notna().sum()

11